<div class="secondary-content">
  <div
    *ngFor="let secondaryElement of secondaryElements"
    class="secondary-elements"
    [ngClass]="secondaryElement.isActive? 'active' : ''"
  >
    <div
      class="subcategories"
      [ngClass]="secondaryElement.subcategories? 'has-subcategories' : 'element-hover'"
      (click)="onSecondaryElementClick(secondaryElement)"
    >
      <span>
        {{ secondaryElement.name }}
      </span>
      <mat-icon *ngIf="secondaryElement.subcategories" class="expand-icon"
        >expand_more</mat-icon
      >
    </div>
    <div
      *ngIf="secondaryElement.subcategories"
      class="content"
      [ngClass]="subAnimate"
    >
      <div
        *ngFor="let subcategory of secondaryElement.subcategories"
        class="sub-element subcategories sub-element-hover"
        [ngClass]="subcategory.isActive ? 'active' : ''"
        (click)="onSubcategoryClick(subcategory)"
      >
        <span>
          {{ subcategory.name }}
        </span>
      </div>
    </div>
  </div>
</div>
