@use "../../../../assets/theme_palets.scss" as tp;

$hover-color: rgba(map-get(tp.$secondary-palette, 100), 0.5);
$active-color: map-get(tp.$accent-palette, 200);
$active-sub-color: map-get(tp.$secondary-palette, 100);
.secondary-content {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 1 !important;
  text-align: start;

  .subcategories {
    display: flex;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 80%;
    margin-right: 0.2rem;
    padding-inline: 1rem;
  }

  .subcategories:hover,
  .sub-element-hover:hover {
    background: $hover-color;
  }

  .secondary-elements {
    height: auto;
    overflow: hidden;
    animation: animate-in 0.4s ease-in-out;
    
    .has-subcategories {
      justify-content: space-between;
    }

    .content {
      display: flex;
      margin-top: 0.2rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 90%;
      gap: 0.2rem;
      padding-left: 0.8rem;

      .sub-element {
        padding-left: 1rem;
      }

      .sub-element.active{
        background: $active-color;
      }
    }

    .animation-expand {
      animation-name: expand;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: both;
    }

    .animation-collapse {
      animation: collapse 0.5s ease-in-out alternate both;
    }

    .display-none{
      display: none;
    }
  }

  .secondary-elements.active {

    .element-hover {
      background: $active-color;
    }
    
    .has-subcategories {
      background: $active-sub-color;
    }

    .expand-icon {
      transform: rotate(180deg);
    }
  }
}

@keyframes animate-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 110px;
  }
}

@keyframes collapse {
  0% {
    opacity: 1;
    height: 110px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
