
@use "@angular/material" as mat;
@use "theme-colors" as tc;

@import url('https://fonts.googleapis.com/css2?family=Google+Sans');
@include mat.core();


//Typography
$unprg-typography: mat.define-typography-config(
  $font-family: 'Google Sans, sans-serif',
);

// Font colors::after$light-primary-text: $light-text;
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);

// Primary
$unprg-primary: (
  main: tc.$primary-color,
  lighter: #e2f4fd,
  darker: #205391,
  200: #86d1f7,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$unprg-theme-primary: mat.define-palette($unprg-primary, main, lighter, darker);

// Accent
$unprg-accent: (
  main: tc.$accent-color,
  lighter: #dff4fa,
  darker: #00515b,
  200: #afe4f1,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$unprg-theme-accent: mat.define-palette($unprg-accent, main, lighter, darker);

// Warning
$unprg-warn: (
  main: tc.$warn-color,
  lighter: #fff8e1,
  darker: #00515b,
  200: #ffe182,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$unprg-theme-warn: mat.define-palette($unprg-warn, main, lighter, darker);

// Generate the theme:
$unprg-theme: mat.define-light-theme(
  (
    color: (
      primary: $unprg-theme-primary,
      accent: $unprg-theme-accent,
     /*  warn: $unprg-theme-warn, */
    ),
    typography: $unprg-typography,
    density: 0,
  )
);

@include mat.all-component-themes($unprg-theme);

//Se le agrega la propiedad disableRipple a todos los botones


